USE [dbCurrency]
GO
/****** Object:  Table [dbo].[currency]    Script Date: 15-Apr-20 5:52:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[currency](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[rates] [float] NULL,
	[fromCurrency] [varchar](3) NULL,
	[toCurrency] [varchar](3) NULL,
	[deleted] [bit] NULL
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[currency] ADD  CONSTRAINT [DF_currency_deleted]  DEFAULT ((0)) FOR [deleted]
GO
